@font-face {
  font-family: 'Mengyuan Heiti';
  src: url('@/assets/fonts/MengyuanHeiti/DreamHanSansExpCN-W4.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
